[submodule "dependencies/IDM-VTON"]
	path = dependencies/IDM-VTON
	url = git@github.com:alarafat/IDM-VTON.git
[submodule "dependencies/sam2"]
	path = dependencies/sam2
	url = git@github.com:alarafat/sam2.git
